{{!-- blog post editing  --}}
{{!-- lets setup the article where all our setting to edit will be located --}}

<article>
  <a href="/dashboard" class="dashboard-here"> &larr; back to dashboard</a>
  <h2 class="title">Edit Blog Post</h2><hr />
  <form class="edit-blog-form">
    <div>
      <label class="blogpost-title" for="blogpost-title">Your Blog:</label>
      <input
        class="blog-title"
        name="blog-title"
        type="text"
        value="{{blog.title}}"
      />
    </div>
    <div class="created-at-container">
      <p>Created By You On: {{format_date Blog.created_at}}</p>
      <a href="/blog/{{blog.id}}">{{Blog.comments.length}}
        {{format_plural "comment" blog.comments.length}}</a>
    </div>
    <button type="submit" class="btn save">Save Blog</button>
    <button type="button" class="btn delete">Delete Blog</button>
  </form>
</article>
{{!-- comments will be shown here --}}
{{> comments Blog.comments}}
<div>
  <button class="btn delete-comments">Delete Comments</button>
 </div>
{{! all the javascript that allow this handlebars to run }}
 
<script src="/javasript/deletecomment.js"></script>
<script src="/javasript/editpost.js"></script>
<script src="/javasript/removepost.js"></script>